<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cola.colablog.mapper.TagMapper">

    <select id="findTagsByArticleId" resultType="com.cola.colablog.pojo.Tag">
        select *
        from cola_tag
        where id in (
                        select tag_id
                        from cola_article_tag
                        where article_id = #{id}
                    )
    </select>

    <!--找出前5条最热的id-->
    <select id="selectHotTagsId" resultType="java.lang.Integer">
        select tag_id from cola_article_tag group by tag_id order by count(*) desc limit #{limit}
    </select>

    <!--最热标签-->
    <select id="selectHotTags" resultType="com.cola.colablog.pojo.Tag">
        SELECT id,tag_name
        FROM cola_tag
        where id in
        <foreach collection="hotTagsIds" open="(" close=")" separator="," item="hotTagsId">
                #{hotTagsId}
        </foreach>
    </select>

</mapper>
